USE [master]
GO
/****** Object:  Database [EECBET]    Script Date: 2025/10/27 下午 04:55:11 ******/
CREATE DATABASE [EECBET]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EECBET', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EECBET.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EECBET_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EECBET_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EECBET].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EECBET]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2025/10/27 下午 04:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[members]    Script Date: 2025/10/27 下午 04:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[members](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[last_login] [datetime2](7) NULL,
	[firstname] [nvarchar](50) NULL,
	[lastname] [nvarchar](50) NULL,
	[gender] [nvarchar](10) NULL,
	[birthday] [datetime2](7) NULL,
	[country] [nvarchar](100) NULL,
	[points] [decimal](18, 2) NOT NULL,
	[total_bet] [decimal](18, 2) NOT NULL,
	[total_win] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 2025/10/27 下午 04:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[transaction_time] [datetime2](7) NOT NULL,
	[category] [nvarchar](100) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[points_change] [decimal](18, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[game_name] [nvarchar](100) NOT NULL,
	[member_id] [int] NOT NULL,
 CONSTRAINT [PK_transactions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_transactions_member_id]    Script Date: 2025/10/27 下午 04:55:11 ******/
CREATE NONCLUSTERED INDEX [IX_transactions_member_id] ON [dbo].[transactions]
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[members] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[members] ADD  DEFAULT ((0)) FOR [points]
GO
ALTER TABLE [dbo].[members] ADD  DEFAULT ((0)) FOR [total_bet]
GO
ALTER TABLE [dbo].[members] ADD  DEFAULT ((0)) FOR [total_win]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT ('') FOR [game_name]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT ((0)) FOR [member_id]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD  CONSTRAINT [FK_transactions_members_member_id] FOREIGN KEY([member_id])
REFERENCES [dbo].[members] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[transactions] CHECK CONSTRAINT [FK_transactions_members_member_id]
GO
USE [master]
GO
