@{
    Layout = "~/Views/Shared/_SlotLayout.cshtml";
    ViewBag.Title = " SlotGame_game";
    var isAuthenticated = Context.Session.GetInt32("MemberId") != null;
}
<link rel="stylesheet" href="~/css/slotgameBase.css" asp-append-version="true" />
@model EECBET.Models.GameListViewModel




<div class="game-container">

    <button class="closeBtn" onclick="closeGame()">X</button>

    <div class="gameIframe" id="slotplaybtn">
        <iframe frameborder="0" src="@Model.GameLink" allowfullscreen="true">
        </iframe>
    </div>

</div>


<script>

function closeGame() {
    window.history.back();
}

</script>