
<link rel="stylesheet" href="~/css/slotgameSwiper.css" asp-append-version="true" />
@{
    Layout = "~/Views/Shared/_SlotLayout.cshtml";
    ViewBag.Title = "高報酬 SlotGame_HighBonus";
}
@* 抓資料欄位 *@
@model IEnumerable<EECBET.Models.GameListViewModel>


<div class="wrap">
    <partial name="_SlotSortPartial" />
    <div class="swiper mySwiper">
        <div class="slotContainer">
            @if (Model == null || !Model.Any())
            {
                <p>⚠️ 尚無資料或 API 連線失敗。</p>
            }
            else
            {
                @foreach (var g in Model)
                {
                    <div class="swiper-slide" data-release-date="@g.ReleaseDate?.ToString("yyyy-MM-dd")">
                        <a href="#"><img src="@g.GameImageUrl" alt="@g.GameNameEN" /></a>
                    </div>
                }
            }
        </div>
    </div>
</div>