<link rel="stylesheet" href="~/css/slotgamePage.css" asp-append-version="true" />
@{
    Layout = "~/Views/Shared/_SlotLayout.cshtml";
    ViewBag.Title = "經典 SlotGame_Classic";
}
   

    <div class="wrap">
    <partial name="_SlotSortPartial" />
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                    <a href=""><img src="https://content001.bet365.mx/Games/SGP/GamePodImages/CosmicCash_1000x400_With-Character.jpg" alt="icon"></a>
                </div>
            <div class="swiper-slide">
                    <a href=""><img src="https://content001.bet365.mx/Games/SGP/GamePodImages/DragonHopper_1000x400.svg" alt="icon"></a>
                </div>
            <div class="swiper-slide">
                    <a href=""><img src="https://content001.bet365.mx/Games/SGP/GamePodImages/CosmicCash_1000x400_With-Character.jpg" alt="icon"></a>
                </div>
            <div class="swiper-slide">
                    <a href=""><img src="https://content001.bet365.mx/Games/SGP/GamePodImages/DragonHopper_1000x400.svg" alt="icon"></a>
                </div>
            <div class="swiper-slide">
                    <a href=""><img src="https://content001.bet365.mx/Games/SGP/GamePodImages/DragonHopper_1000x400.svg" alt="icon"></a>
                </div>
            <div class="swiper-slide">
                <a href=""><img src="https://content001.bet365.com/Games/SGP/GamePodImages/HiLoClassicV3_1000x400.svg" alt="icon"></a>
            </div>
            </div>
        </div>
    </div>
