/*sort */
.sort {
    position: relative;
    display: flex;
    justify-content: right;
}

.sort ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 2px 15px;
    gap: 16px;
    font-size: 12px;
}


.sort ul li a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: white;
    border-radius: 0;
    line-height: 2;
}

.sort ul li a img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 0;
}

.sortDropdown {
    position: absolute;
    top: 35px;
    background: rgba(50, 50, 50, 0.9);
    border-radius: 5px;
    padding: 8px 0;
    z-index: 999;
}

.sortDropdown ul {
    flex-direction: column;
    border: none;
}

.sortDropdown li {
    cursor: pointer;
}

.sortDropdown li.active {
    color: #13ffc0;
    font-weight: bold;
}