
.swiper{
    padding:0;
}
.swiperMySwiper {
    display: flex;
    flex-wrap: wrap;
}

.swiper-wrapper {
    display: inline-grid;
/*    padding-top: 10px;*/
    grid-gap: 10px;
    grid-template-columns: repeat(6, auto);
}

.swiperMySwiper img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

