/* Swiper 輪播的 */

.swiper {
    padding: 10px 10px;
}



.swiper-slide img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.4s ease;
    aspect-ratio: 1;
    object-fit: cover;
}

.swiper-slide img:hover {
    /* transform: scale(1.05); */
    transform: translateY(-5px);
  border: 2px solid #02ff96fd;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.519);
    padding: 90px 10px;
    color: white;
    transition: opacity 0.3s ease;

    transform: translateY(-40%);

}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-disabled {
    opacity: 0.3;

    pointer-events: none;
}

/* 獨立頁面的排列 */
.slotContainer{
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, auto);
}



/* ---- 響應式設定 ---- */

/* 平板：中型螢幕 */
@media (max-width: 992px) {

  .slotContainer{  
    grid-template-columns: repeat(4, auto);
}
}

/* 手機：小螢幕 */
@media (max-width: 576px) {


    .slotContainer{  
    grid-template-columns: repeat(3, auto);
}
}
