* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(28, 28, 28);
}


/* NAV */

.nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 20px;
}

    .nav ul li a {
        text-decoration: none;
        color: rgb(159, 159, 159);
        margin-right: 12px;
        transition: all 0.2s ease;
        font-size: 14px;
    }

        .nav ul li a:hover {
            color: rgb(253, 253, 253);
            font-weight: bolder;
        }

        .nav ul li a.active {
            color: #13ffc0;
            font-weight: bolder;
            border-bottom: 3px solid #1fffc3;
            padding-bottom: 5px;
        }
